.feynman__link {
    position: absolute;
    height: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    color: #000000;
  }
  
  .feynman__link:hover {
    opacity: 0.5; 
  }